@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffc382;
    color: black;
}

.div {
    background-color: #ffc382;
    color: black;
}

header {
    background-color: sandybrown;
}

footer {
    background-color: sandybrown;
}

h1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    color: brown;
}

h2 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    color: brown;
}

h5, h6 {
    color: black;
}

.btn-primary {
    background-color: sandybrown;
    color: black;
    border: none;
}

.btn-primary:hover {
    background-color: #ffc382;
    color: black;
    border: none;
}

.active {
    background-color: #ffc382;
    color: black;
    border: none;
}

.card {
    background-color: sandybrown;
    color: black;
}

#bottom {
    margin: 10px;
    color: blue;
}

#top {
    margin: 10px;
    color: blue;
}

img {
    width: 50%;
    height: auto;
}

.logo {
    width: 100%;
    height: auto;
}

hr {
    width: 100%;
    height: 10px;
    color: sandybrown;
}

ul li {
    list-style-type: square;
}

@media screen and (max-width: 800px) {
    img {
        width: 100%;
        height: auto;
    }

    .logo {
        width: 100%;
        height: auto;
    }
}